
TIM95BELL_TODO_API_PORT=8081
TIM95BELL_TODO_API_URL=http://localhost:${TIM95BELL_TODO_API_PORT}
TIM95BELL_TODO_WEB_PORT=8080
TIM95BELL_TODO_WEB_URL=http://localhost:${TIM95BELL_TODO_WEB_PORT}
TIM95BELL_TODO_AS_PORT=9090
TIM95BELL_TODO_AS_DB_ROOT_PASSWORD=password
TIM95BELL_TODO_AS_DB_PASSWORD=password
TIM95BELL_TODO_AS_MARIADB_VERSION=11.4.5
TIM95BELL_TODO_AS_WEB_CLIENT_ID=web-client-id
TIM95BELL_TODO_AS_WEB_CLIENT_SECRET=web-client-secret
TIM95BELL_TODO_AS_WEB_REDIRECT_URI=${TIM95BELL_TODO_WEB_URL}/login/oauth2/code
TIM95BELL_TODO_AS_SSL_KEY_PASSWORD=password
TIM95BELL_TODO_AS_SSL_CERTIFICATE_PASSWORD=password
TIM95BELL_TODO_AS_ADMIN_USER_PASSWORD=password
