
TIM95BELL_TODO_WEB_PORT=8080
TIM95BELL_TODO_WEB_URL=http://localhost:${TIM95BELL_TODO_WEB_PORT}
TIM95BELL_TODO_API_PORT=8081
TIM95BELL_TODO_API_URL=http://localhost:${TIM95BELL_TODO_API_PORT}
TIM95BELL_TODO_API_DB_ROOT_PASSWORD=password
TIM95BELL_TODO_API_DB_PASSWORD=password
TIM95BELL_TODO_API_MARIADB_VERSION=11.4.5
TIM95BELL_TODO_API_SSL_KEY_PASSWORD=password
TIM95BELL_TODO_API_SSL_CERTIFICATE_PASSWORD=password
TIM95BELL_TODO_AS_PORT=9090
TIM95BELL_TODO_AS_URL=http://localhost:${TIM95BELL_TODO_AS_PORT}
