
TIM95BELL_TODO_API_DB_ROOT_PASSWORD=password
TIM95BELL_TODO_API_DB_PASSWORD=password
TIM95BELL_TODO_API_MARIADB_VERSION=11.4.5
TIM95BELL_TODO_API_SSL_KEY_PASSWORD=password
TIM95BELL_TODO_API_SSL_CERTIFICATE_PASSWORD=password
