spring:
  config:
    import: classpath:local/local.env[.properties]
  application:
    name: todo_as
  datasource:
    driverClassName: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3308/todo_as_db
    username: admin
    password: ${TIM95BELL_TODO_AS_DB_PASSWORD}
  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: ${TIM95BELL_TODO_AS_PORT}
  # NOTE(TB): had to disable self signed ssl in dev build as other server does not trust it
  # ssl:
  #   key-store: classpath:local/certificate.p12
  #   key-store-type: PKCS12
  #   key-store-password: ${TIM95BELL_TODO_AS_SSL_CERTIFICATE_PASSWORD}

logging:
  level:
    org.springframework.security: trace
